/* Angular SQL Application
Version 0.1
Ankit Patil */
body {
	padding-top: 51px;
}
/* Global CSS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
	display: none;
}
ul {
	list-style: none;
}
a {
	color: #333;
}
a:hover {
	cursor: pointer;
}
input, textarea, button {
	border-radius: 1px !important;
} 
figure img {
	width: 100%;
	height: auto;
}
/* Navbar */
.navbar {
	margin-bottom: 0px;
	background: none;
}
.navbar .navbar-brand {
	font-weight: 700;
	height: auto;
	font-size: 24px;
	line-height: 24px;
	padding: 9px;
}
.navbar .navbar-brand figure {
	width: 60px;
}
.navbar .navbar-right a {
	padding: 27px 24px;
	font-weight: 700;
	font-size: 18px;
	color: #FFF;
}
.navbar .navbar-toggle {
	margin-top: 18px;
	margin-bottom: 18px;
}
.navbar .navbar-toggle .icon-bar {
	background: #888;
	height: 3px;
	width: 25.5px;
	border-radius: 0;
	position: relative;
	transition: all 600ms ease-in-out;
}
.navbar .navbar-toggle.collapsed .top-bar {
	top: -2px;
	transform: rotate(0deg);
}
.navbar .navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar .navbar-toggle.collapsed .bottom-bar {
  	top: 2px;
	transform: rotate(0deg);
}
.navbar .navbar-toggle .top-bar {
	top: 8px;
	transform: rotate(45deg);
}
.navbar .navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar .navbar-toggle .bottom-bar {
	top: -6px;
	transform: rotate(-45deg);
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
/* Home page */
.home-banner {
	background: url(../img/home-banner.jpeg) no-repeat center top;
	padding: 180px 0 150px;
}
.home-banner h1, .home-banner h4, .home-banner p {
	color: #FFF;
}
.home-banner h1 {
	font-size: 9em;
	font-weight: 500;
}
.home-banner h4 {
	font-weight: 300;
	font-size: 2.4em;
}
.home-banner p {
	font-weight: 300;
	font-size: 1.2em;
}
/* Angular animation CSS */
.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}
.slide.ng-enter, .slide.ng-leave {
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.slide.ng-enter {
	left: 100%;
	opacity: 0;
}
.slide.ng-enter-active {
	left: 0;
	opacity: 1;
}
.slide.ng-leave {
	left: 0;
}
.slide.ng-leave-active {
	left: -100%;
}